/* Body */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Overskrifter */

p {
    font-family: 'Montserrat';
    font-size: 14px;
}

h1 {
    font-family: 'Kanit';
    font-style: italic;
    font-weight: 600;
}

h2 {
    font-family: 'Kanit';
    font-weight: 600;
    margin-bottom: 20px;
}

h3 {
    font-family: 'Kanit';
    font-weight: 600;
    font-size: 20px;
}

h4 {
    font-family: 'Kanit';
    font-weight: 600;
    font-size: 18px;
}

/* Knapper */
.cta-btn {
    background-color: #EC1323;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-family: 'Kanit';
}

.cta-btn:hover {
    background-color: #000000;
}


.footer-btn {
    background-color: #EC1323;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-family: 'Kanit';
    margin-bottom: 10px;
    border-radius: 5px;
}

.footer-btn i {
    margin-right: 10px;
}

.footer-btn:hover {
    background-color: black;
}

/* Header + Nav */
header {
    background-color: #CFEEB7;
    color: white;
    padding: 10px;
    margin: 0;
    width: 100%;
    position: fixed;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logo {
    float: left;
    position: fixed;
    z-index: 999;
}

.logo img {
    width: 75px;
    height: auto;
}

.menu-toggle {
    display: block;
    width: 40px;
    height: 30px;
    cursor: pointer;
    position: relative;
    z-index: 1000;
    margin-left: auto;
}

.menu-toggle i {
    font-size: 24px;
    position: fixed;
}

.menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #CFEEB7; 
    z-index: 998; 
    overflow: auto; 
    padding-top: 20px; 
}

.menu.active {
    display: block;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.menu ul li {
    margin-bottom: 10px;
    font-family: 'Montserrat';
    font-size: 18px;
    padding: 10px 0;
    display: block;
}

.menu ul li:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: black;
}

.menu ul li a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    position: relative;
}

.menu ul li a i {
    margin-right: 10px;
}


.dropdown-menu {
    display: none;
    top: 100%;
    left: 0;
    background-color: #30b24a84;
    color: black;
}

.dropdown-menu li {
    display: block;
}

.dropdown-menu ul li {
    background-color: #e5e5e57a;
}

.dropdown-menu li a {
    display: block;
    padding: 0px;
    text-decoration: none;
    color: black;
}

.dropdown-menu.active {
    display: block;
    background-color: #0000001a;
    margin-top: 10px;
}

.dropdown-toggle {
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .menu-toggle {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: row;
    }

    .menu ul {
        display: flex;
        justify-content: end;
    }

    .menu ul li {
        margin-right: 20px;
        position: relative;
    }

}


/* Forside */
.hero-container {
    background-image: url(images/wave-forside.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40vh;
    width: 100%;
    margin: 0;
    padding-top: 80px;
    padding-left: 20px;
}

.hero-container img {
    width: 75%;
    height: 75%;
    margin-left: 70px;
    object-fit: contain;
}

.om-os-container {
    padding: 40px;
}

.seneste-projekter-container {
    background-color: #000000;
    padding: 40px;
    color: white;
}

.tal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #E5E5E5;
    padding: 40px;
}

.tal-container img {
    width: 50%;
    height: auto;
}

@media screen and (min-width: 768px) {
    .hero-container {
        height: 80vh;
    }

    .hero-container img {
        margin-left: 450px;
    }

    .tal-container {
        flex-direction: row;
    }
}

/* Footer */
footer {
    background-color: #CFEEB7;
    color: black;
    padding: 40px;
    box-shadow: 0 -4px 10px rgba(0,0,0,0.1);
}

.footer-container {
    display: flex;
    flex-direction: column;
}

.footer-grid {
    margin-bottom: 10px;
}

.footer-socialemedier i {
    margin-right: 10px;
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
    .footer-container {
        flex-direction: row;

    }
}

/*bliv aktiv*/
.hero-container-blivaktiv
{
    background-color: #ff7e3d;
    height: 300px;
}
.hero-container-blivaktiv h1
{
    width: 100%;
    height: 100%;
   position: relative;
    margin:0;
   top: 140px;
   left: 45px;

}

.hero-container-blivaktiv p
{
left: 45px; ;
position: relative;
top:195px;
}
/*billede til at blive frivillig på bliv aktiv siden */

.active-buttons
{
    text-align: center;
    margin-bottom: 20px;
}
.active-buttons img
{
    display: block;
    margin: 0 auto 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.active-button
{
   
    padding: 20px;
    margin:0 10px;
    background-color: #5da744;
    color: #000000;
    text-decoration: none;
    border-radius: 10px;
}   