/* Body */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: white;
    width: 100%;
    overflow-x:hidden;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Overskrifter */

p {
    font-family: 'Montserrat';
    font-size: 14px;
}

h1 {
    font-family: 'Kanit';
    font-style: italic;
    font-weight: 600;
}

h2 {
    font-family: 'Kanit';
    font-weight: 600;
    margin-bottom: 20px;
}

h3 {
    font-family: 'Kanit';
    font-weight: 600;
    font-size: 20px;
}

h4 {
    font-family: 'Kanit';
    font-weight: 600;
    font-size: 18px;
}

/* Knapper */
.cta-btn {
    background-color: #EC1323;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-family: 'Kanit';
}

.cta-btn:hover {
    background-color: #000000;
}

#bliv-aktiv-btn {
    color: white;
    font-family: 'Montserrat';
    border: none;
    background-color: #EC1323;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

#bliv-aktiv-btn i {
    color: white;
    margin-right: 10px;
}

#bliv-aktiv-btn:hover {
    background-color: black;
    color: white;
}

.footer-btn {
    background-color: #EC1323;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-family: 'Kanit';
    margin-bottom: 10px;
    border-radius: 5px;
    
}

.footer-btn i {
    margin-right: 10px;
}

.footer-btn:hover {
    background-color: black;
}

/* Header + Nav */
header {
    background-color: #CFEEB7;
    color: white;
    padding: 10px;
    margin: 0;
    width: 100%;
    position: absolute;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logo {
    float: left;
    position: fixed;
    z-index: 999;
}

.logo img {
    width: 75px;
    height: auto;
}

@media screen and (min-width: 768px) {
    header {
        padding: 20px;
    }

    .logo img {
        width: 150px;
        height: auto;
    }
}

.menu-toggle {
    display: block;
    width: 40px;
    height: 30px;
    cursor: pointer;
    position: relative;
    z-index: 1000;
    margin-left: auto;
}

.menu-toggle i {
    font-size: 24px;
    position: fixed;
}

.menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #CFEEB7; 
    z-index: 998; 
    overflow: auto; 
    padding-top: 20px; 
}

.menu.active {
    display: block;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.menu ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.menu ul ul {
    display: none;
}

.menu ul li {
    margin-bottom: 10px;
    font-family: 'Montserrat';
    font-size: 18px;
    padding: 10px 0;
    display: block;
}

.menu ul li:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: black;
    
}

.menu ul li a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    position: relative;
}

.menu ul li a.active {
    text-decoration: underline;
    text-decoration-color: #000000;
    text-underline-offset: 10px;
}

.menu ul li a i {
    margin-right: 10px;
}


.dropdown-menu {
    display: none;
    top: 100%;
    left: 0;
    background-color: #30b24a84;
    color: black;
}

.dropdown-menu li {
    display: block;
}

.dropdown-menu ul li {
    background-color: #e5e5e57a;
}

.dropdown-menu li a {
    display: block;
    padding: 0px;
    text-decoration: none;
    color: black;
}

.dropdown-menu.active {
    display: block;
    background-color: #0000001a;
    margin-top: 10px;
}

.dropdown-toggle {
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .menu-toggle {
        display: none;
    }

    .menu {
        display: flex;
        justify-content: flex-end;
        overflow: visible;
        padding-right: 30px;
    }

    .menu ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .menu ul li {
        margin-right: 20px;
        position: relative; 
    }

    .menu ul li:hover .dropdown-menu {
        display: block;
    }

    .dropdown-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #CFEEB7;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        color: black;
        width: 200px; 
        z-index: 9999;
    }

    .dropdown-menu ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .dropdown-menu ul li {
        background-color: #e5e5e5;
        padding: 10px;
    }

    .dropdown-menu ul li a {
        text-decoration: none;
        color: black;
        display: block;
    }

    /* Display dropdown menu on hover */
    .menu ul li:hover .dropdown-menu {
        display: block;
    }
}

/* Forside */
.hero-container {
    background-image: url(images/wave-forside.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40vh;
    width: 100%;
    margin: 0;
    padding-top: 80px;
    padding-left: 40px;
}

.hero-container img {
    width: 90%;
    height: auto;
    margin-left: 20px;
    object-fit: contain;
}

.om-os-container {
    padding: 40px;
}

.seneste-projekter-container {
    background-color: #000000;
    padding: 40px;
    color: white;
}

.tal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E5E5;
    padding: 40px;
    text-align: center;
}

.tal-item {
    padding: 10px;
    width: 220px;
    height: 220px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tal-item img {
    width: 150px;
    height: auto;
}

@media screen and (min-width: 768px) {
    .hero-container {
        height: 80vh;
        font-size: 40px;
        padding-top: 150px;
        padding-left: 90px;
    }

    .hero-container p {
        font-size: 24px;
    }

    .hero-container img {
        width: 60%;
        height: auto;
        margin-left: 520px;
        margin-top: -170px;
    }

    .om-os-container {
        padding-left: 90px;
        padding-right: 90px;
    }

    .om-os-container p {
        columns: 2;
    }

    .seneste-projekter-container {
        padding-left: 90px;
        padding-right: 90px;
    }
    
    .tal-container {
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        padding-bottom: 150px;
    }

    .tal-item {
        margin: 50px;
    }

    .tal-item img {
        width: 220px;
        height: auto;
    }
}

/* Madspild i tal */
main {
    overflow-x: hidden;
}

.madspild-i-tal-intro {
    background-color: #ffffff;
    height: auto;
    color: #000000;
    position: relative;
    z-index: 2;
}

.madspild-i-tal-intro h1{
    padding-top: 100px;
    text-align: center;
}

.madspild-i-tal-intro h2 {
    margin-left: 30px;
}

.madspild-i-tal-intro p {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.madspild-i-tal-p1 {
    text-align: center;
}

.madspild-i-tal-p2 {
    margin-bottom: 80px;
    margin-top: 250px;
}


.definition-af-madspild p, h2{
    position: relative;
    z-index: 1;
}

.definition-af-madspild img {
    transform: rotate(180deg);
    width: 220%;
    height: 500px;
    margin-top: -400px;
    margin-left: -320px;
    position: relative;
    z-index: -1;
}

.madspild-i-tal-dd-intro {
    text-align: center;
    background:#e5e5e5;
    height: auto;
    margin-top: -100px;
    position: relative;
    z-index: 4;
}

.madspild-i-tal-dd-intro p {
    margin: 60px;
    margin-bottom: -10px;
    padding-top: 60px;
    padding-bottom: 60px;
}

/* Pie chart */
#chartContainer {
    height: 215px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 0px;
}



/* Om madspild */
.om-madspild-intro {
    background-color: #ffffff;
    height: auto;
    color: #000000;
    position: relative;

}

.om-madspild-intro h1{
    padding-top: 100px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.om-madspild-p1{
    text-align: center;
    position: relative;
    z-index: 2;
    margin: 20px;
}


.om-madspild-intro .arsager p {
    color: #000000;
    position: relative;
    z-index: 3;
}

.om-madspild-intro .om-madspild-wave {
    margin-top: -180px;
    height: 0px;
    width: auto;
    max-width: 100%;
    object-fit: cover;
    position: relative;
    z-index: 0;
}

.om-madspild-intro .arsager {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    margin: 20px;
    margin-top: 180px;
    position: relative;
    z-index: 1;
}



.om-madspild-intro .arsager p{
    margin-top: -5px;
    font-size: 10px;
    width: 170px;
    margin-left: 0px;
    text-align: center;
}

.arsager .arsag1, .arsag2, .arsag3, .arsag4, .arsag5, .arsag6 {
    margin: 20px;
    margin-bottom: 80px;
    width: 170px;
    height: 170px;
}


.arsager img {
    width: 150px;
    height: 150px;
    margin: 15px;
}

.om-madspild-p2 {
    color: #000000;
    margin: 40px;
    margin-top: 80px;
    margin-bottom: 60px;
}

.om-madspild-dd-intro {
    text-align: center;
    background:#CFEEB7;
    height: auto;
   
}

.om-madspild-dd-intro p {
    margin: 60px;
    margin-bottom: -10px;
    padding-top: 60px;
    padding-bottom: 60px;
}


/* Accordion - om madspild + madspild i tal */

.accordion-content {
    display: none;
  }
  
  .accordion-btn {
    background-color: #000000;
    color: #e5e5e5;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    height: auto;
    text-align: left;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Kanit';
    font-weight: 600;
    font-size: 20px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

 
  
  .accordion-btn.active {
    background-color: #ffffff;
    color: #000000;
  }
  
  .accordion-content p {
    margin: 0;
    margin-left: 30px;
    padding: 10px;
    margin-right: 30px;
    padding-bottom: 30px;
  }

  .chevron {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #ffffff;
    transition: transform 0.3s ease-in-out;
    margin-right: 20px;
  }

  
  .chevron.rotate {
    transform: rotate(180deg);
    border-top-color: #000000;
  }




/* Footer */
footer {
    background-color: #CFEEB7;
    color: black;
    padding: 40px;
    box-shadow: 0 -4px 10px rgba(0,0,0,0.1);
}

.footer-container {
    display: flex;
    flex-direction: column;
}

.footer-grid {
    margin-bottom: 10px;
}

.footer-socialemedier i {
    margin-right: 10px;
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
    .footer-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
        padding-left: 60px;
        padding-right: 60px;
    }

    /* Om madspild */
    .om-madspild-p2 {
        columns: 2;
        column-gap: 100px;
    }

    .arsager img {
        width: 220px;
        height: 200px;
    }

    .arsager .arsag1, .arsag2, .arsag3, .arsag4, .arsag5, .arsag6 {
        width: 250px;
        height: 250px;
    }

    .om-madspild-intro .arsager p{ 
        font-size: 14px;
    }


    .arsager .arsag1, .arsag2, .arsag3, .arsag4, .arsag5, .arsag6 {
        margin: 60px;
    }   

    .om-madspild-intro .arsager {
        margin-bottom: 180px;
    }

    .om-madspild-intro .arsager p {
        margin-left: 35px;
    }

    .om-madspild-p2 {
        margin-right: 90px;
        margin-left: 90px;
        margin-bottom: 180px;
    }

    .om-madspild-dd-intro {
       padding-top: 20px;
       padding-bottom: 50px;
    }

    .om-madspild-dd-intro p {
        margin-left: 300px;
        margin-right: 300px;
    }

    .om-madspild-intro .om-madspild-wave {
        width: 2000px;
    }

    .om-madspild-intro .om-madspild-wave {
        width: 200%;
        height: 50px;
    }


    /* Madspild i tal */
    
    .definition-af-madspild img {
        width: 150%;
        height: auto;
        margin-left: -200px;
        margin-top: -200px;
    }

    .madspild-i-tal-p1 {
        margin-left: 90px;
        margin-right: 90px;
    }

    .madspild-i-tal-p2 {
        columns: 2;
        column-gap: 100px;
        margin-left: 90px;
        margin-right: 90px;
        margin-bottom: 300px;
    }

    .definition-af-madspild img {
        width: 160%;
        margin-top: -450px;
        margin-left: -800px;
        overflow-x: hidden;
        position: relative;
        z-index: 0;
    }

    .definition-af-madspild p {
        margin-left: 120px;
        margin-right: 120px;
        padding-bottom: 10px;
    }
    
    .definition-af-madspild h2 {
        margin-left: 120px;
    }

    .madspild-i-tal-dd-intro {
        margin-top: -550px;
        margin-bottom: 0px;
        padding-top: 10px;
        padding-bottom: 30px;
    }

    .madspild-i-tal-dd-intro p {
        margin-left: 300px;
        margin-right: 300px;
    }

    .accordion {
        position: relative;
        z-index: 5;
    }

    .accordion-content {
        background-color: #ffffff;
    }

    footer {
        position: relative;
        z-index: 6;
    }
}



/* Kontakt formular */
.kontakt-container {
    width: 100%;
    background-color: black;
    color: white;
    font-family: 'Montserrat';
    padding: 40px;
}

.kontakt-grid {
    display: flex;
    flex-direction: column;
}

.kontakt-container img {
    width: 75%;
    height: auto;
    margin-left: 50px;
}

.navn-email-gruppe {
    display: flex;
    flex-direction: column;
}

.besked-gruppe {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
}

.error {
    color: red;
    font-size: 18px;
}

input[type="submit"] {
    background-color: #EC1323;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat';
    font-size: 18px;
}

input[type="submit"]:hover {
    background-color: white;
    color: black;
}

#confirmationMessage {
    color: #5da744;
    margin-top: 10px;
    display: none; 
}

@media screen and (min-width: 768px) {
    .kontakt-container {
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 90px;
        padding-right: 90px;
    }

    .kontakt-container img {
        margin-left: 150px;
    }

    .kontakt-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
}

/*bliv aktiv*/
.hero-container-blivaktiv
{
    background-color: #CFEEB7;
    height: 300px;
}
.hero-container-blivaktiv h1
{
    width: 100%;
    height: 100%;
   position: relative;
    margin:0;
   top: 140px;
   left: 45px;

}

.hero-container-blivaktiv p
{
 
margin: 0 45px;;
width: 100%;

}
/*billede til at blive frivillig på bliv aktiv siden */

.active-buttons
{
    text-align: center;
    border: none;
    margin-bottom: 20px;
}
.active-buttons img
{
    display: block;
    margin: 0 auto 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.active-button
{
    background-color: #EC1323;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-family: 'Kanit';
    margin:auto;
    border-radius: 5px;
    width: 200px;
} 

.active-button:hover {
    background-color: #000000;
    color: white;
}

/*donations siden*/
.hero-containerC
{
padding: 100px;
background-color: #FFFFF6;
margin: auto;


}
.contributegridwrap
{
    border: 2px;
    padding: 10px ;
    max-width: 768px; 
    height:600px;
    margin: auto;
    background-color: #000000;
   
  
}
.contributegridwrap h3
{
    margin: 20px 0 20px auto;
    
    color: #E5E5E5;
  
}
.checkboxescontribute label
{
    margin: 0 20px 0 14px;
    padding: 0px;
    color: #E5E5E5;
    font-family:'Montserrat';
}

.contributegrid 
{
    grid-template-columns: 140px 150px 150px;
    display: grid;
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    color:#E5E5E5;

}
.contritext
{
    color: #E5E5E5;
    margin: 20px 0 20px auto;
}
.støtfasttext
{
    display: none;
    color: #E5E5E5;
    margin: 20px 0 0 auto;
}
.enkeldonationtext
{
    margin: 20px 0 20px auto;
    display: none;
    color: #E5E5E5;
}
.griditem
{
    padding: 10px 20px;
    margin-top:  10px;
    background-color: #EC1323;
    color: #E5E5E5;
    border: none;
    border-radius: 5px;

}
.griditem:hover
{
    opacity: .7;
    size: 2px;
}
.active-button
{
  
  display:block;
}
label[for="donationamount"]
{
    margin:20px 5% 20px auto;
    color: white;
}
#donationamount
{
width: 280px;
padding: 10px 20px;
}
#DonateBtn
{
    padding: 10px 20px;
    margin:  0px 0 0 50px;
    background-color: #EC1323;
    color: #E5E5E5;
    border: none;
    border-radius: 5px;
    width: 150px;
}
#AbonBtn 
{
    display: none;
    padding: 10px 20px;
    margin:  0 auto 0 12px;
    background-color: #EC1323;
    color: #E5E5E5;
    border: none;
    border-radius: 5px;
    width: 150px;
}


.blivfrivilligcontainer {
    display: flex;
    flex-direction: column; 
    background-color: #CFEEB7;
    padding: 40px;
    align-items: center;
    padding-top: 110px;
}


.tekstbox1 {

    width: 100%;
}

.imagebox1 {
    width: 150px;
    
}

.tekstbox2 {
    flex-grow: 1; 
    padding-top: 20px; 
    width: 200px;
}



.Aktivitetergrid{
    margin-top: 27px;
    background-color: #FFFFF6;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 410px;
}

.billedegrid{
    height: 180px;
    width: 180px;
}

.tekstgrid{
    height: 150px;
    width: 150px;
    margin-left: 40px;
}

.teksttekst{
    padding-left: 40px;
}



.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
 
  .mySlides {
    display: none;
  }
  

  .tilbage, .næste {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  
  .næste {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  
  .tilbage:hover, .næste:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  
  .text {
    color: #000000;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    margin-bottom: -160px
  }
  
  .tekstslide{
    font-family: 'Montserrat';
    font-size: 14px;
    color: #000000;
}
  

  
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-bottom: 40px
  }
  
  .active, .dot:hover {
    background-color: #CFEEB7;
  }
  
.dotscontainer{
    text-align: center;
    margin-bottom: -70px
}

@media screen and (min-width: 768px){
    .blivfrivilligcontainer {
    padding-top: 170px;
    display: flex;
    flex-direction: row; 
    background-color: #CFEEB7;
    padding: 80px;
    
    

    }
    
    .tekstbox1 {
        padding-right: 30px;
        width: 500px;      
    }
    
    .imagebox1 {
    height: 400px;
    width: auto;
    }
    
    .tekstbox2 {
        flex-grow: 1; 
        margin-bottom: 100px; 
        width: 200px;
    }
    
    
    
    .kontaktcontainer{
        height: 140px;
        background-color: #030303;
        flex-direction: row;
        display: flex;
    }
    
    .tekstinput{
        height: 58px;
        width: 750px;
        background-color: white;
        margin-top: 48px;
        margin-left: 10px;
    
    }
    
    .tekstinputtekst{
        margin-top: 27px;
        padding-left: 80px;
        margin-top: 58px;
    }
    
    .bekraft-knap{
        width: 175px;
        height: 58px;
        margin-top: 27px;
        padding-left: 200px;
        margin-top: 48px;
    }
    .Aktivitetergrid{
        margin-top: 27px;
        background-color: #FFFFF6;
        display: grid;
        grid-template-columns: 1fr 2fr;
    
        height: 530px;
    }
    
    .billedegrid{
        height: 400px;
        width: auto; 
        
    }
    
    .tekstgrid{
        height: 150px;
        width: auto;
        margin-left:80px;
        
        
    }

    .text {
        color: #000000;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
        margin-bottom: -100px
      }
    
      .teksttekst{
        padding-top: 50px;
        padding-left: 80px;
    }
    .tekstslide{
        font-family: 'Montserrat';
        font-size: 14px;
        color: #000000;
        margin-right: 80px;
    }
}
